
*{
    margin: 3px;
    padding: 0;
}

a{
    text-decoration: none;
}

p{
    margin: 5px;
}

a, p {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}


h2{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin: 0;
    padding: 0;
    text-align: left;
}

form{
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial;
    display: inline-block;
}

body{
    background-color: lightgray;
}

#main_body{
    background-color: lightgray;
    position: absolute;
    padding-bottom: 1cm;
    width: 100%;
    top: 100px;
    left: 0;
}

#register{
    display: none;
    background-color: rgb(250,250,250);
    position: absolute;
    width: 10%;
    height: 6%;
    top: auto;
    left: 20%;
}

/* Lists*/
input#sse-data{
    width: 200px;
    background-color: rgb(250,250,250);
    padding: 8px 15px;
    display: inline-block;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input#time{
    width: 200px;
    background-color: rgb(250,250,250);
    padding: 8px 15px;
    display: inline-block;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input#normal-data{
    width: 200px;
    background-color: rgb(250,250,250);
    padding: 8px 15px;
    display: inline-block;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#part{
    top: 40px;
    display: flex;
    flex-direction: column;
}

#part_top{
    display: flex;
}

#part_monitor {
    background-color: rgb(250,250,250);
    position: relative;
    padding-left: 5px;
    padding-top: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 12%;
    height: 5%;
    left: 1%;
    border-radius: 4px;
}



#part_control {
    background-color: rgb(250,250,250);
    position: relative;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 12%;
    height: 5%;
    left: 1%;
    border-radius: 4px
}

#response{
    width: 200px;
    background-color: rgb(250,250,250);
    padding: 8px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/*index.html*/


#control_panel{
    display: flex;
    justify-content: space-between;
    background-color: rgb(0,0,0);
    width: 100%;
    height: 6%;
    border-radius: 6px;
    align-items: flex-end;
}

.control_font{
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(250,250,250);
    text-align: left;
    padding: 0;
    margin-left: 10px;
}



.menu_font {
    font-size: 18px;
    text-decoration: none;
    color: rgb(250,250,250);
    text-align: right;
    padding: 0;
    margin-right: 10px;
}

.menu_font:hover {
    color: rgb(200,200,200);

}

ul{
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
    padding: 0;
}

/*test*/
#kvitto{
    display: none;
    background-color: rgb(250,250,250);
    position: absolute;
    width: 18%;
    height: 22%;
    top: 46%;
    left: 70%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}
/*main section index*/
#main_panel{
    display: inline-block;
    justify-content: space-between;
    background-color: rgb(250,250,250);
    width: 20%;
    height: 100%;
    border-radius: 6px;
    align-items: flex-end;
}


