<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Ferroamp-controler</title>
    <link rel="stylesheet" href="static/style.css">

</head>


<body>

    <section>
        <div id="control_panel">
            <p class="control_font">Ferroamp</p>
            <input type="feedback" id="response" value="{{ message }}" disabled>
                <ul>
                    <li><a class="menu_font" href="/stop" >Avsluta</a> </li>
                    <li><a class="menu_font" href="register" >Mitt Konto</a> </li>
                    <li><a class="menu_font" href="/start" >Start</a> </li>
                </ul>
          </div>
    </section>

    <section>
        <div id="part">
            <div id="part_top">
            <div  id="part_monitor">
                <form action="/sse" method="post">
                    <label for="power">Batteri effekt</label><br>
                    <input id="sse-data" disabled>
                </form><br>
            </div>

                <div  id="part_monitor">
                    <form action="/time" method="post">
                        <label for="time">Tid</label><br>
                        <input id="time" disabled>
                    </form><br>
                </div>
            </div>

            <div id="part_control">
                <form action="/automode" method="post">
                    <label>Autoläge</label>
                    <input type="submit" value="Skicka">
                </form><br>

                <form name="chargeForm" action="/charge" method="post" onsubmit="return validateForm()">
                    <label for="charge">Laddningseffekt (watt)</label><br>
                    <input type="text" name="charge" id="normal-data"><br>
                    <label for="grans">Starttid</label><br>
                    <input type="text" name="grans" id="normal-data"><br>
                    <input type="submit" value="skicka">
                </form><br>


                <form name="dissChargeForm" action="/discharge" method="post" onsubmit="return validateFormD()">
                    <label for="discharge">Urladdningseffekt (watt)</label><br>
                    <input type="text" name="discharge" id="normal-data"><br>
                    <label for="Lgrans">Starttid</label><br>
                    <input type="text" name="Lgrans" id="normal-data"><br>
                    <input type="submit" value="Skicka">
                </form>
            </div>
        </div>
    </section>

<script src="static/script.js"></script>
</body>

</html>

