<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Ferroamp-controler</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="static/script.js"></script>
</head>


<body>

    <section>
        <div id="control_panel">
        <p class="control_font">Ferroamp</p>
            <ul>
                <li><a class="menu_font" href="/" >Tillbaka</a> </li>
            </ul>
        </div>
    </section>

<section>
    <div id="part">
        <div id="part_monitor">
            <form action="/user" method="post" >
                <label for="username">Username:</label><br>
                <input type="text" name="username" id="normal-data" required><br>
                <label for="password">Password:</label><br>
                <input type="password" name="password" id="normal-data" required><br>
                <label for="broker">Broker:</label><br>
                <input type="text" name="broker" id="normal-data" required><br>
                <label for="port">Port:</label><br>
                <input type="number" name="port" id="normal-data" required><br>
                <label for="topic">Topic:</label><br>
                <input type="text" name="sse_topic" id="normal-data" required><br>
                <label for="topic2">Topic2:</label><br>
                <input type="text" name="payload_topic" id="normal-data" required><br>
                <label for="client_id">Client ID:</label><br>
                <input type="text" name="client_id" id="normal-data" required><br>
                <input type="submit" value="Register"><br>
                <input type="text" id="response" value="{{ message }}" disabled>
            </form>
        </div>
    </div>

</section>

</body>

</html>